.status {
    margin-bottom: 10px;
    color: #FAD73C;
}

.btn {
    background-color: #FAD73C;
}
.square {
    background-color: #B6DBF2;
    color: #FAD73C;
    text-shadow: 0px 0px 1px #3E81AB;
    border: 1px dashed #3E81AB;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
